{
	order mwcache before rewrite
}
:2015
root * /var/www/html
rewrite /w/* /index.php
php_fastcgi 127.0.0.1:9000
reverse_proxy /localhost/* 127.0.0.1:7231

mwcache {
	purge_acl 127.0.0.1
}

log {
	output stdout
	level info
}

route /cache-s-maxage {
    mwcache
    header {
			Cache-Control "s-maxage=5, must-revalidate, max-age=0"
			Date "Sun, 11 Apr 2021 10:58:14 UTC"
		}
    respond "Hello, s-maxage!"
}
